{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{titremenu}}</h1>
{% endblock %}

{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Libelle status</th>
        </thead>
            <tbody>
                {% for stat in statuts %}
                <tr>
                    <td>{{ stat.idStatus }} </td>
                    <td><a href="{% url 'dtl_statut' stat.idStatus %}">{{ stat.libelleStatus }}</a> </td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}