{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{titremenu}}</h1>
{% endblock %}

{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Libelle status</th>
            <th>Nombre de Produits</th>
        </thead>
            <tbody>
                {% for stat in statuts %}
                <tr>
                    <td>{{ stat.idStatus }} </td>
                    <td><a href="{% url 'dtl_statut' stat.idStatus %}">{{ stat.libelleStatus }}</a> </td>
                    <td>{{ stat.nb_produits }} </td>
                    <td><a href="{% url 'statut_chng' stat.idStatus %}">modifier</a></td>
                    <td><a href="{% url 'statut_del' stat.idStatus %}">supprimer</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crt_statut' %}">Créer un nouveau status</a>
    <!-- Barre de recherche -->
    <p class="lead mb-3 ml-0">Rechercher un élément...</p>
    <form method="GET" action="">
        <input class="form-control" type="text" name="search" placeholder="Tapez ici votre recherche"
        value="{{ request.GET.search }}">
        <button type="submit" class="btn btn-success mt-2">Rechercher</button>
    </form>
{% endblock %}