{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>Liste des rayons</h1>
{% endblock %}

{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom rayons</th>
        </thead>
            <tbody>
                {% for rayon in rayons %}
                <tr>
                    <td>{{ rayon.idRayon }} </td>
                    <td><a href="{% url 'dtl_rayon' rayon.idRayon %}">{{ rayon.nomRayon }}</a> </td>
                    <td><a href="{% url 'rayon_chng' rayon.idRayon %}">modifier</a></td>
                    <td><a href="{% url 'rayon_del' rayon.idRayon %}">supprimer</a></td>
                </tr>
                {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crt_rayon' %}">Créer un nouveau rayon</a>
{% endblock %}