{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>Liste des catégories</h1>
{% endblock %}

{% block contenu %}
    <table class="table">
        <thead>
            <th>Id</th>
            <th>Nom catégories</th>
        </thead>
            <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.idCat }} </td>
                        <td><a href="{% url 'dtl_cats' categorie.idCat %}">{{ categorie.nomCat }}</a> </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
{% endblock %}
